<main> 
    <div>
        Name :
    </div> 

    <div>
        Description : 
    </div>

    <div>
        Category :
    </div>
    
    <div>
        Quantity : 
    </div>

    <div>
        Price : 
    </div>

    <div>
        Status : 
    </div>


</main>
